body {
	color: black;
	text-align: center;
	}

h1{
	color :White;
	font-family: courier new, sans-serif;
	font-weight : 100;
	font-size: 50px;
	font:bold}


h2{
	color :White;
	font-family: courier new, sans-serif;
	font-weight : 100;
	font-size: 30px;
	font:bold}

h3{
	color: white
	font-family: courier new, sans-serif;
	font-size : 27px ; }


p{
	color:white;
	font-family:  courier new, sans-serif;
	font-size : 20px ;}

h4{
	color:white;
	font-family:  courier new, sans-serif;
	font-size : 20px ; }


a{	font-family:  courier new, sans-serif;
	font-size : 30px ; 
	color: black;
	background-color: white;
	border-radius: 20px;
	padding: 20px;	}



.whole-index{  ;background-color:black;text-align: center;}

@media(max-width:2000px) {
	.whole-index {
		width: 2000px
	}
}


.perso.{background-color: white}
